html,
body,
ol,
ul {
  margin: 0;
  padding: 0;
  background: #4b4b4b;
  color: #eee;
}

.video-js {
  width: 500px !important;
}
input[type='number'] {
  text-align: left;
}
/* input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
  margin: 0;
  padding: 0;
}
input[type=number]::-webkit-outher-spin-button {
  opacity: 1;
  margin: 0;
  padding: 0;
} */

.slice {
  user-select: none;
}

.wavesurfer-region {
  z-index: 1 !important;
  /* z-index: 9999 !important; */
}

.wavesurfer-handle {
  opacity: 0;
}

.wavesurfer wave {
  color: red !important;
}

#path1209 {
  stroke: red;
}

@font-face {
  font-family: 'chesstype';
  font-weight: 500;
  src: url('../../assets/fonts/ChessType.ttf') format('truetype');
}

@font-face {
  font-family: 'oswald';
  font-weight: 400;
  src: url('../../assets/fonts/Oswald.ttf') format('truetype');
}

@font-face {
  font-family: '7seg';
  font-weight: 400;
  src: url('../../assets/fonts/DSEG14Classic-Bold.ttf') format('truetype');
}
