ul.sequencer-steps {
  list-style: none;
}

li.sequencer-step {
  display: inline-block;
  user-select: none;
  width: 30px;
  height: 30px;
  margin: 2px;
}

li.sequencer-step-selected {
  outline: 3px solid lightpink;
}

li.sequencer-step-current {
  opacity: 0.6;
}

li.sequencer-step-active {
  background: grey;
}

li.sequencer-step-play {
  background: black;
}

li.sequencer-step-inactive {
  background: lightgray;
}
