ul.sequencer-steps {
  border: 1px solid rgb(39, 39, 39);
  list-style: none;
  padding: 2px;
  background-color: rgb(19, 19, 19);
  box-shadow: 0px 0px 5px black inset;
  display: flex;
  width: auto;
}

ol {
  font-size: 10px;
}

li.slice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: #333;
  color: #ccc;
  border-bottom: 1px solid #444;
}
.lcd {
  font-family: 'chesstype';
  background-color: green;
  padding: 4px;
  color: rgba(205, 255, 125, 0.829);
  font-size: 12px;
  letter-spacing: 2px;
  border: 1px solid #555;
  background: rgba(96, 114, 72, 0.781);
  min-width: 300px;
  max-width: 300px;
  overflow: hidden;
  text-shadow: 1px 1px 1px #333;
  box-shadow: 0px 0px 5px #333 inset;
  // background: linear-gradient(90deg, rgba(11,130,0,1) 9%, rgba(11,85,0,1) 29%, rgba(38,78,0,1) 69%, rgba(80,172,0,1) 100%);
//     background: rgb(6,74,0);
// background: radial-gradient(circle, rgba(6,74,0,1) 21%, rgba(11,85,0,1) 45%, rgba(58,119,0,1) 81%, rgba(67,148,0,1) 96%, rgba(80,172,0,1) 100%);
}

li.sequencer-step {
  display: inline-block;
  user-select: none;
  width: 30px;
  height: 30px;
  margin: 2px;
  border-radius: 4px;
  border: 3px outset #eee;
  background: rgb(198,198,198);
  background: linear-gradient(138deg, rgb(219, 204, 174) 10%, rgba(255,255,255,1) 100%);
}

li.sequencer-step-selected {
  box-shadow: 0px 0px 6px white;
  border: 3px outset white;
  // background: rgb(254,243,241);
  // background: radial-gradient(circle, rgb(255, 238, 0) 0%, rgb(255, 65, 2) 100%);
}

li.sequencer-step-current {
  box-shadow: 0px 0px 4px white;
  border: 3px outset #ffffff !important;
  background: rgb(254,243,241) !important;
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, #e2e2e2 80%) !important;
}

li.sequencer-step-active {
  box-shadow: 0px 0px 3px white;
  border: 3px outset #ff6f41;
  background: rgb(254,243,241);
  background: radial-gradient(circle, rgb(255, 238, 0) 0%, rgb(255, 65, 2) 100%);
}

li.sequencer-step-play {
  box-shadow: 0px 0px 6px #ee8624;
  border: 3px outset #ee5724;
  background: rgb(254,243,241);
  background: radial-gradient(circle, rgb(255, 184, 143) 10%, rgb(255, 122, 78) 80%);
}

li.sequencer-step-inactive {
  //background: rgb(255, 220, 144);
}

@font-face {
  font-family: 'chesstype';
  font-weight: 500;
  src: url('../../assets/fonts/ChessType.ttf') format('truetype');
}

div.main-controls {
  background: #333;
  padding: 8px;
}